<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
    <title>Characters</title>
</head>
<body>
<div class="card">
    <img src="/img/{{message.filename}}" alt="Avatar" height="500", width="400">
    <div class="container">
        <h4><b>{{name}}</b></h4>
        <p>{{description}}</p>
    </div>
</div>
</body>
</html>