<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="card">
        <img src="/img/{{message.filename}}" alt="Avatar" height="500" , width="400">
        <div class="container">
            <h4><b>{{name}}</b></h4>
            <p>{{description}}</p>
        </div>
    </div>

    <div class="card">
        <img src="/img/{{message.filename}}" alt="Avatar" height="500" , width="400">
        <div class="container">
            <h4><b>{{name}}</b></h4>
            <p>{{description}}</p>
        </div>
    </div>

</div>
</body>
</html>